@import "variables";

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-g-plus {
  &:before {
    content: $icon-g-plus;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-next {
  &:before {
    content: $icon-next;
  }
}
.icon-previous {
  &:before {
    content: $icon-previous;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}

