@each $key,$val in $resolutions {
  @media (min-width: $val) {
    // Alignment
    .text-#{$key}-left {
      text-align: left;
    }
    .text-#{$key}-right {
      text-align: right;
    }
    .text-#{$key}-center {
      text-align: center;
    }
    .text-#{$key}-justify {
      text-align: justify;
    }
  }
}

// Transformation
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}